# Created by .ignore support plugin (hsz.mobi)
.idea

# Elastic Beanstalk Files
.elasticbeanstalk/*

!.elasticbeanstalk/*config.yml
!.elasticbeanstalk/global.yml

*.pyc

config/db.sqlite3
config/static