{
  "AWSEBDockerrunVersion": "1",
  "Authentication": {
    "Bucket": "mwaside",
    "Key": ".dockercfg"
  },
  "Image": {
    "Name": "mwaaas/django-sample-app:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "3000"
    }
  ]
}