{
  "AWSEBDockerrunVersion": "2",
  "Authentication": {
    "Bucket": "mwaside",
    "Key": ".dockercfg"
  },
  "containerDefinitions": [
    {
      "name": "web",
      "image": "mwaaas/django-sample-app:<TAG>",
      "essential": true,
      "memory": 128,
      "command": ["./app_server.sh"],
        "portMappings": [
        {
          "hostPort": 80,
          "containerPort": 80
        }
      ]
    }
  ]
}